@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FAFAF8;
  color: #161B22;
}

@media print {
  .no-print {
    display: none !important;
  }
  .print-page {
    page-break-after: always;
  }
}
